version: '3.8'
services:
  mongo:
    image: mongo:latest
    volumes:
      - mongo-data:/data/db

  backend:
    image: vishnuyakkaluri/mean-backend:latest
    ports:
      - "8080:8080"
    depends_on:
      - mongo

  frontend:
    image: vishnuyakkaluri/mean-frontend:latest
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  mongo-data:
